<div id="navigation" class="dont-show">
	<a href="#" id="nav-button">&#9664;</a>
</div>
<div id="loading-screen" class="dont-show">
	<div class="modal">L O A D I N G</div>
</div>
<div class="container full_width">
	{{> editions/one}}
	{{> editions/two}}
	{{> editions/three}}
	{{> editions/four}}
</div></div>
