<script src="js/control.js"></script>
<script>
echo.init({
    offset: 900,
    unload: false,
    callback: function (element, op) {
    	element.classList.add('full_width');
    }
});
</script>
<div id="navigation" class="dont-show">
	<a href="#" id="nav-button">&#9664;</a>
</div>
<div class="container full_width">
	{{> editions/one}}
	{{> editions/two}}
	{{> editions/three}}
</div>
