<!doctype HTML>
<html>
<head>
<title> Exmilitary </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta property="og:site_name" content="Exmilitary - Revolutionary Theory">
<meta property="og:title" content="Exmilitary">
<meta property="og:url" content="http://exmilitai.re">
<meta property="og:description" content="An Anthology of Revolutionary Theory of the Late 60s">
<meta property="og:image" content="http://exmilita.ire/images/paris.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/control.js"></script>
<script src="js/echo.min.js"></script>
