<div id="4" class="edition">
	<div id="3" class="cover-photo">
		<img class="exmil-logo" src="images/exmil.png"><br>
		<img class="ed-number" src="images/4.png">
		<img class="photo" src="images/greece.jpg">
	</div>
	<div class="toc">
		<h1>Selections from:</h1><br>
		<a href="#4/coupat" id="contents"><span class="number">1</span>Julien Coupat — Interview</a>
		<a href="#4/braidotti" id="contents"><span class="number">2</span>Rosi Braidotti — <i>Cyberfeminism with a Difference</i></a>
		<a href="#4/lovink" id="contents"><span class="number">3</span>Geert Lovink — <i>Theses on Wikileaks</i></a>
		<a href="#4/moten" id="contents"><span class="number">4</span>Fred Moten and Stefano Harney — <i>Michael Brown</i></a>
		<a href="#4/steyerl" id="contents"><span class="number">5</span>Hito Steyerl — <i>Spam of the Earth</i></a>
		<a href="#4/berardi" id="contents"><span class="number">6</span>Franco Bifo Berardi — <i>Communism is back but we should call it the therapy of singularisation</i></a>
	</div>
	<div class="content">
		{{> content/four}}
	</div>
</div>
