<div id="1" class="edition">
	<div id="1" class="cover-photo">
		<img class="exmil-logo" src="images/exmil.png"><br>
		<img class="ed-number" src="images/1.png">
		<img class="photo" src="images/paris.jpg">
	</div>
	<div class="toc">
	<h1>Selections from:</h1><br>
		<a href="#1/debord" id="contents"><span class="number">1</span>Guy Debord — <i>Society of the Spectacle</i></a>
		<a href="#1/dutschke" id="contents"><span class="number">2</span>Rudi Dutschke — <i>On anti-authoritarianism</i></a>
		<a href="#1/poverty" id="contents"><span class="number">3</span>Internationale Situationniste — <i>On the Poverty of Student Life</i></a>
		<a href="#1/atlas" id="contents"><span class="number">4</span>Jacques Lacan and Anatole Atlas — Seminar at Leuven University</a>
		<a href="#1/davis" id="contents"><span class="number">5</span>Angela Davis — Prison Interviews</a>
		<a href="#1/marcuse" id="contents"><span class="number">6</span>Herbert Marcuse — <i>Repressive Tolerance</i></a>
	</div>
	<div class="content">
		{{> content/one}}
	</div>
</div>
