<div id="3" class="edition">
	<div id="3" class="cover-photo">
		<img class="exmil-logo" src="images/exmil.png"><br>
		<img class="ed-number" src="images/3.png">
		<img class="photo" src="images/seattle.jpg">
	</div>
	<div class="toc">
		<h1>Selections from:</h1><br>
		<a href="#3/swartz" id="contents"><span class="number">1</span>Aaron Swartz — <i>Guerilla Open Access Manifesto</i></a>
		<a href="#3/butler" id="contents"><span class="number">2</span>Judith Butler — <i>Reading Rodney King</i></a>
		<a href="#3/tafuri" id="contents"><span class="number">3</span>Manfredo Tafuri — <i>There Is No Criticism, Only History</i></a>
		<a href="#3/eco" id="contents"><span class="number">4</span>Umberto Eco — <i>Towards a Semiological Guerilla Warfare</i></a>
		<a href="#3/serra" id="contents"><span class="number">5</span>Richard Serra — Yale Lecture</a>
		<a href="#3/haraway" id="contents"><span class="number">6</span>Donna Haraway — <i>A Cyborg Manifesto: Science, Technology, and Socialist-Feminism in the Late Twentieth Century</i></a>
	</div>
	<div class="content">
		{{> content/three}}
	</div>
</div>

