<div id="2" class="edition">
	<div id="2" class="cover-photo">
		<img class="exmil-logo" src="images/exmil.png"><br>
		<img class="ed-number" src="images/2.png">
		<img class="photo" src="images/kent.jpg">
	</div>
	<div class="toc">
	<h1>Selections from:</h1><br>
		<a href="#2/adorno" id="contents"><span class="number">1</span>Theodor Adorno — <i>Out of the Firing-line</i></a>
<a href="#2/berger" id="contents"><span class="number">2</span>John Berger — <i>Photographs of Agony</i></a>
<a href="#2/baudrillard" id="contents"><span class="number">3</span>Jean Baudrillard — <i>Simulacra and Simulations; The Precession of Simulacra</i></a>
<a href="#2/biko" id="contents"><span class="number">4</span>Steve Biko — <i>Fear - An Important Determinant in South African Politics</i></a>
<a href="#2/meinhof" id="contents"><span class="number">5</span>Ulrike Meinhof — <i>Armed Anti-Imperialist Struggle</i></a>
<a href="#2/tarkovsky" id="contents"><span class="number">6</span>Andrei Tarkovsky — Interviews</a>
<a href="#2/acker" id="contents"><span class="number">7</span>Kathy Acker — <i>Algeria</i></a>
	</div>
</div>
